// ==============================
// 変数定義
// ここには「値」だけを置く（CSSは出力しない）
// ==============================

// --------------------------------
// レイアウト
// --------------------------------
$inner: 1200px;
$padding-pc: 25px;
$padding-sp: 24px;

// --------------------------------
// ブレイクポイント
// mq() mixin から参照される
// --------------------------------
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1280,
  xl: 1440,
);

// --------------------------------
// フォントファミリー
// --------------------------------
// ゴシック体
$sans: "Noto Sans JP",
sans-serif;

// 明朝体
$serif: "Noto Serif JP",
sans-serif;


// --------------------------------
// フォントウェイト
// --------------------------------
$light: 300;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700;
$extra: 900;

// --------------------------------
// カラー
// --------------------------------
$navy: #1A1C3D;;
$white: #ffffff;
$beige: #F1F0EA;;
$brown: #A3814F;
$camel: #9B6A22;
